//https://stackoverflow.com/a/9144570/1826120
@import "~pdfjs-dist/web/pdf_viewer";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.player-and-viewer {

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  #videoPlayerContainer {
    background-color: rgb(195, 162, 231);
    flex-grow: 0;
    width: 100%;
    min-height: 360px;

    iframe {
      display: block;
    }
  }

  #videoPlayer {
    width: 640px;
    height: 360px;
  }

  #lectureNotesContainer {
    background-color: rgb(128, 128, 128);
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    overflow: hidden;
    position: relative;
  }

  #viewerContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 1.0;
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}
