//https://stackoverflow.com/a/9144570/1826120
@import "~pdfjs-dist/web/pdf_viewer";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.player-and-viewer {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  #videoPlayerContainer {
    background-color: rgb(195, 162, 231);
    flex-grow: 0;
    width: 100%;
    min-height: 360px;
  }

  #videoPlayer {
    width: 640px;
    height: 360px;
  }

  #viewerContainer {
    background-color: rgb(128, 128, 128);
    flex-grow: 1;
    width: 100%;
    overflow: scroll;
  }

}
