node_modules
.idea
out
src/lectures/**/*.log
src/lectures/**/*.aux
src/lectures/**/*.pdf
src/lectures/**/*.out
src/lectures/**/*.synctex.gz

src/texmf/**/*.log
src/texmf/**/*.aux
src/texmf/**/*.out
src/texmf/**/*.synctex.gz

src/**/svg-inkscape

lectures
dist
